<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
    <style type="text/css">
        TABLE {
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }
        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
            vertical-align: middle;
        }
        TH {
            background: #b0e0e6; /* Цвет фона */
            align-content: center;
        }
    </style>
</head>
<body>
<div th:switch="${films}">
    <h2 th:case="null">No films found!</h2>
    <div th:case="*">
        <h2>Films</h2>
        <table>
            <thead>
            <tr>
                <th>Film ID</th>
                <th>Rus name</th>
                <th>Original name</th>
                <th>Description</th>
                <th>Film URL</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="film : ${films}">
                <td align="center" th:text="${film.filmID}"></td>
                <td width="200" th:text="${film.nameRus}"></td>
                <td width="200" th:text="${film.nameOriginal}"></td>
                <td width="400" th:text="${film.getShortDescription()}"></td>
                <td th:text="${film.filmURL}"></td>
                <td><a th:href="@{film-update/{id}(id=${film.filmID})}">Edit</a><br>
                    <a th:href="@{film-delete/{id}(id=${film.filmID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/film-create">Create film</a></p>
    <p><a href="/receive-films">Get films from kino.ru</a></p>
</div>
</body>
</html>